.button {
    width: 180px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    background: #3d8eb9;
    border: none;
    -webkit-border-radius: 40px;
            border-radius: 40px;
}