         
.mainHeader {
    @include position(absolute, 0, 0, auto, 0);
    @include transition(all, .4s);
    height: 110px;
    @include flex($wrap:no-wrap);
    background-color: #00616B;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.4);
            box-shadow: 0 0 4px rgba(0,0,0,.4);
    @media (max-width: 1200px) {
        width: 260px;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        bottom: 0;
        display: block;
        left: auto;
        z-index: 100;
        padding: 0px 0 40px;
            -webkit-transform: translateX(260px);
       -moz-transform: translateX(260px);
        -ms-transform: translateX(260px);
         -o-transform: translateX(260px);
            transform: translateX(260px);
    }
    &.active               {
        -webkit-transform: translateX(0px);
           -moz-transform: translateX(0px);
            -ms-transform: translateX(0px);
             -o-transform: translateX(0px);
                transform: translateX(0px);
    }
    &__left,
    &__right {
        height: 100%;        
        min-width: 370px;
        @media (max-width: 1700px) {
            width: 340px;
            min-width: 0;
        }
        @media (max-width: 1500px) {
            width: 290px;
        }
        @media (max-width: 1200px) {
            width: 100%;
            height: auto;
        }
    }

    &__info {
        background-color: #0b3034;
        height: 100%;
        color: #FFF;
        padding: 0 10px;
         @include flex($justify:center, $alignI:center);
         @media (max-width: 1700px) {
            font-size: 14px;
        }
        @media (max-width: 1300px) {
            font-size: 12px;
        }
        @media (max-width: 1200px) {
            display: block;
            padding: 20px 0;
            margin-top: 40px;
        }
        .tel {
            color: #FFF;
            display: inline-block;
            vertical-align: middle;
            @media (max-width: 1200px) {
                display: block;
                margin: 10px auto;
                text-align: center;
            }
            &:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: 23px;
                height: 23px;
                margin-right: 8px;
                background-image: url("../images/phone-call.svg");
                -webkit-background-size: 100% 100%;
                     -o-background-size: 100% 100%;
                        background-size: 100% 100%;
                @media (max-width: 1300px) {
                    width: 14px;
                    height: 14px;
                    margin-right: 4px;
                }
            }
            &:hover:before {
                background-image: url("../images/phone-call-hover.svg");
            }
            span {
                display: inline-block;
                vertical-align: middle;
            }
        }
        i {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            height: 30px;
            width: 1px;
            background-color: rgba(255,255,255,.1);
            margin: 0 30px;
            @media (max-width: 1700px) {
                margin: 0 20px;
            }
            @media (max-width: 1500px) {
                margin: 0 10px;
                height: 20px;
            }
            @media (max-width: 1200px) {
                display: none;
            }
        }
        .languages {
            display: inline-block;
            vertical-align: middle;
            a {
                display: inline-block;
                vertical-align: middle;
                color: #FFF;
                margin: 0 4px;
                font-weight: 500;
                text-transform: uppercase;
                @include transition(all,.2s);
                &.active,
                &:hover {
                    color: #FE4E2D;
                }
            }
            @media (max-width: 1200px) {
                display: block;
                margin: 10px auto;
                text-align: center;
            }
        }
    }
}


.orange .mainHeader {
    background-color: #FE4E2D;
}
.green .mainHeader {
    background: #71ba51;
}
.yellow .mainHeader {
    background: #FEC606;
}
.blue .mainHeader {
    background: #2c82c9;
}


/* ------------------------------------ */
/*  NAV STYLES  */
.mainNav {
    ul {
        list-style-type: none;
        li {
            display: inline-block;
            vertical-align: middle;
            margin: 0 0 0 20px;
            @media (max-width: 1700px) {
                margin-left: 15px;
            }
            @media (max-width: 1300px) {
                margin-left: 10px;
            }
            @media (max-width: 1200px) {
                display: block;
                margin: 20px auto;
                text-align: center;
            }
            &:after {
                margin-left: 20px;
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: 4px;
                height: 4px;
                background: #FFF;
                -webkit-border-radius: 50%;
                        border-radius: 50%;
                @media (max-width: 1700px) {
                    margin-left: 15px;
                }
                @media (max-width: 1300px) {
                    margin-left: 10px;
                }
                @media (max-width: 1200px) {
                    display: none;
                }
            }
            &:last-of-type {
                &:after {
                    display: none;
                }
            }
            a {
                color: #fff;
                text-transform: uppercase;
                font-size: 15px;
                font-weight: 500;
                display: inline-block;
                @include transition(all, .2s);
                position: relative;
                &:after {
                    display: block;
                    content: "";
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    max-width: 0%;
                    height: 1px;
                    background-color: #FFF;
                    @include transition(all, .2s);
                }
                &:hover,
                &.active {
                    &:after {
                        max-width: 100%;
                    }
                }
                @media (max-width: 1700px) {
                    font-size: 14px;
                }
                @media (max-width: 1300px) {
                    font-size: 12px;
                }
            }
        }
    }
}



.logo {
    img {
        display: block;
        max-width: 100%;
    }
    &--mobile {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 20px;
        width: 140px;
        margin: auto;
        z-index: 10;
    }
    @media (max-width: 1200px) {
        margin: 0 auto 40px;
        display: none;
        text-align: center;
        img {
            margin: 0 auto;
        }
        &--mobile {
            display: block;
            width: 140px;
        }
    }
}


/* ------------------------------------ */
/*  MENU BUTTON  */

.menu-button     {    
    display: none;
    width: 40px;
    height: 39px;
    @include position(fixed, 15px, 10px, auto, auto);
    margin: auto; 
    cursor: pointer;
    z-index: 101;
    background-color: #00616B;
    border: none;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    @include transition(all, .4s);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.4);
            box-shadow: 0 0 4px rgba(0,0,0,.4);
    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 60%;
        height: 3px;
        background-color: #fff;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        @include transition(all, .4s);
    }

    .top_line              {   top: 10px;  margin: auto;}
    .middle_line           {   top: 18px;  margin: auto;}
    .bottom_line           {   bottom: 10px; margin: auto;}

    &.active               {
        -webkit-transform: translateX(-260px);
           -moz-transform: translateX(-260px);
            -ms-transform: translateX(-260px);
             -o-transform: translateX(-260px);
                transform: translateX(-260px);
    }
    &.active .top_line     {   @include transform(rotate(45deg)); top: 45%;}
    &.active .bottom_line  {   @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line  {   width: 0; left: 50%;}

        /*.................media.............*/
        @media (max-width: 1200px) {
            display: block;
        }
        /*..............end media.............*/

}

.orange .menu-button {
    background-color: #FE4E2D;
}
.green .menu-button {
    background-color: #71ba51;
}
.yellow .menu-button {
    background-color: #FEC606;
}
.blue .menu-button {
    background-color: #2c82c9;
}
