.tabs {
    padding: 80px 0;
    border-bottom: 1px dashed #CCCCCC;
    @media (max-width: 767px) {
        padding: 40px 0;
    }

    &-controls {
        padding-bottom: 60px;
        border-bottom: 1px dashed #CCCCCC;

        @media (max-width: 767px) {
            padding-bottom: 40px;
        }

        &-item {
            display: inline-block;
            vertical-align: middle;
            list-style: none;
            color: #b8b8b8;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            border: 1px dashed #ccc;
            margin: 0 8px;
            
            font-size: 25px;
            font-weight: 300;

            @media (max-width: 767px) {
                font-weight: bold;
                font-size: 18px;
                border-width: 2px;
                margin: 0;
            }

            @media (max-width: 550px) {
                font-size: 16px;
            }

            a {
                color: inherit;
                display: block;
                padding: 15px 60px;

                @media (max-width: 767px) {
                    padding: 10px 25px;
                }

                @media (max-width: 550px) {
                    padding: 5px 15px;
                }
            }
        }

        &.yellow &-item.ui-state-active {
            color: $yellow;
            border-color: $yellow;
        }

        &.blue &-item.ui-state-active {
            color: $blue;
            border-color: $blue;
        }
    }

    &-tab {
        padding-top: 60px;

        @media (max-width: 767px) {
            padding-top: 40px;
        }
    }
}


.orange .tabs-controls .tabs-controls-item.ui-state-active {
    color: #FE4E2D;
    border-color: #FE4E2D;
}
.green .tabs-controls .tabs-controls-item.ui-state-active {
    color: #71ba51;
    border-color: #71ba51;
}
.yellow .tabs-controls .tabs-controls-item.ui-state-active {
    color: #FEC606;
    border-color: #FEC606;
}
.blue .tabs-controls .tabs-controls-item.ui-state-active {
    color: #2c82c9;
    border-color: #2c82c9;
}