.section-contacts {
    padding: 80px 0 90px;

    @media (max-width: 767px) {
        padding: 40px 0;
    }

    &-top {
        color: #565656;

        img {
            display: block;
            margin: 0 auto 40px;

            & + p {
                margin-bottom: 25px;
            }
        }

        .flex-row {
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;

            @media (max-width: 450px) {
                display: block;
            }
        }

        .cargo-button {
            height: 80px;
            width: 170px;
            padding: 0 20px;

            @media (max-width: 450px) {
                display: block;
                margin-top: 25px;
                margin-left: auto;
                margin-right: auto;
            }

            img {
                width: 40px;
                display: inline-block;
                margin-bottom: 0;
            }
        }

        .contacts {
            line-height: 24px;
            padding: 0 30px;

            a[href^=mailto] {
                color: $blue;
            }
        }
    }



    &-bottom {
        margin-top: 55px;
        border-top: 1px dashed #CCCCCC;
        padding-top: 80px;

        @media (max-width: 767px) {
            padding-top: 40px;
            margin-top: 40px;
        }

        form {
            width: 100%;

            @media (max-width: 767px) {
                width: 600px;
                display: block;
                margin: 0 auto;
                max-width: 100%;

                .col-6 {
                    width: 100%;

                    &:not(:last-of-type) {
                        margin-bottom: 20px;
                    }
                }

                .button {
                    margin-top: 25px;
                }
            }
        }


    }
}





.map {
    height: 600px;
    position: relative;
    overflow: hidden;

    &:before {
        content: '';
        width: 100%;
        position: absolute;
        top: 0;
        height: 2px;
        left: 0;
        right: 0;
        -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        -o-transform: translateY(-2px);
        transform: translateY(-2px);
        -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
        z-index: 2;
    }

    @media (max-width: 1200px) {
        height: 400px;
    }

    @media (max-width: 767px) {
        height: 300px;
    }

    .map-canvas {
        height: 100%;
        z-index: 1;
    }
}
