// COLORS
// ---------------------------
$dark-blue:                 #0B3034;
$green:                     #71BA51;
$yellow:                    #FEC606;
$orange:                    #F04903;
$blue:                      #2C82C9;

// FONTS
// ---------------------------



// RESPONSIVE
// ---------------------------
